{% extends "layout.html" %}

{% block content %}
<section id="intro">
    <header>
        <a href="/">
            <img src="/logo.png" alt="Logo Casa Criativa">
        </a>
    </header>

    <main>   
        <p>
            Ficar em casa em períodos longos, não deve ser nada fácil.
        </p>
        <p>
            Iremos catalogar ideias, <strong>brincadeiras, jogos, filmes, livros, cursos, dicas</strong>strong e tudo que for necessário para tornar esse momento mais interessante.
        </p>
        <p>
            Comece clicando em ver ideias para ver as  ideias cadastradas e contribua adicioando a sua ideia.
        </p>

        <section id="buttons">
            <button onclick="onOff()">+ Adicionar Ideia</button>
            <a href="/ideias" class="button">Ver Ideias</a>
        </section>
    </main>

   <footer>
       Com 💜 <a href="http://rocketseat.com.br" target="_blank">Rocketseat</a>
   </footer>
</section>

<section id="last-ideias">
    {% include "all_ideas.html" %}             
</section>

{% endblock %}